<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Java/Trendyol">
        <classes>
            <class name="com.trendyol.test.LoginTest"></class>
            <class name="com.trendyol.test.SearchTest"></class>
            <class name="com.trendyol.test.BasketTest"></class>
        </classes>
    </test>
</suite>